* {
    box-sizing: border-box;
}


.links {
    display: flex;
    border: solid 4px rgba(0, 0, 0, 0);
    gap: 1em;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
    
}

.links a {
    border: double 4px rgb(0, 102, 255);
    flex: 1 1 auto;
    text-align: center;
    font-size: 50px;
    
    
}

.heading {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-top: 15px;
    border: double 4px rgb(0, 102, 255);
    
}
